.btn {
  display: block;
}

#result {
  display: none;
}

#title {
  text-align: center;
  background-image: url("../img/star.jpg");
  color: violet;
  font-weight: bold;
  text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black;
}
