.btn {
  display: block;
  border: gray;
  border-style: double;
}

#result {
  display: none;
}

#title {
  text-align: center;
  background-image: url("../img/earth.gif");
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black;
}

body {
  color: white;
  text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black;
  background-image: url("../img/earth.gif");
}

.btn {
  color: white;
  text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black;
}
